body, html {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fbf8fc;
}

.dashboard-container {
  padding: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header h2 {
  color: #6d0d91;
}

.dashboard-header button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #d98bec;
  color: white;
  cursor: pointer;
}

.dashboard-header button:hover {
  background-color: #d8b7e2;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

.user-table td {
  border: 1px solid #430553;
  padding: 12px;
  text-align: center;
}

.user-table th {
  background-color: #e780e7;
  color: white;
   border: 1px solid #430553;
  padding: 12px;
  text-align: center;
}

.user-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-table button {
  margin: 0 4px;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.user-table button:first-child {
  background-color: #f3c4f3; 
  color: white;
}

.user-table button:nth-child(2) {
  background-color: #dda5fa; 
  color: white;
}

.user-table button:nth-child(3) {
  background-color: #b54fca; 
  color: white;
}

.user-table button:hover {
  opacity: 0.8;
}
