.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.promo-wrapper {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.promo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promo-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  max-width: 80%;
  padding: 20px;
 
  border-radius: 10px;
}

.promo-overlay h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.promo-overlay p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.login-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  background-color :#f9f0ff;
  padding: 50px 40px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.login-box .title {
  color:#9254de;
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 25px;
  color: #d3adf7;
  text-align: center;
}

.login-box input {
  display: center;
  width: 190%;
  padding: 16px;
  margin-bottom: 15px;
  border-radius: 9px;
  border: 1px solid #9254de;
  box-sizing: border-box;
  text-align: justify;
}

.login-box button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #aa6ecc;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-box button:hover {
  background-color: #d7ade7;
}

.login-box p {
  color: red;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .login-container {
    flex-direction: column;
  }
  .promo-wrapper,
  .login-box {
    width: 100%;
    height: auto;
  }
  .login-box {
    padding: 40px 20px;
  }
  .promo-overlay h1 {
    font-size: 1.8rem;
  }
  .promo-overlay p {
    font-size: 1rem;
  }
}
